
:root { 
    --MainColor: #222222;
    --MainFont: 'Poppins', sans-serif;
    --descriptonColor: rgba(169, 163, 163, 1);  
    --navSize: 24px;
  }

.body { 
    height: 100vh;
}

.whatIDo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    flex-direction: column;
}
    .whatIDo a { 
        font-size: 19px;
        font-family: var(--MainFont);
        color: var(--descriptonColor);
        text-decoration: none;
        border-bottom: 2.5px solid var(--MainColor);
    }
    .whatIDo a:hover { 
        color: var(--MainColor);
    }

.whatIDo h2 { 
    font-weight: 400;
}

.projects { 
    height: 100vh;
 
}


.main_Card { 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    height: 100%;
    padding-bottom: 2rem;

}

.project_Card { 
    margin: 0 2rem 0 2rem;
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.project_Card img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #C4C4C4;

}


.project_subCard { 
    width: 75%;
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all ease-in 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.projectHover { 
    position: absolute;
    background-color: red;
    height: 650px;
    width: 35%;
    opacity: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}
.clickToSite { 
    position: absolute;
    width: 128px;
    height: 58px;
    border: none;
    background-color: var(--MainColor);
    color: white;
    border-radius: 5px;
    font-family: var(--MainFont);
    opacity: 0%;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.backdropWhite { 
    background-color: #fff;;
    color: #222222;
    font-family: var(--MainFont);

}
.clickToSite:hover { 
    transform: scale(120%);
}

.clickToSiteReveal { 
    opacity: 100%;
}


/* MINT SECTION */
.mintSection img {
    position: absolute;
    z-index:  -1;
    transform: translate(150px,-100px);
}
.mintSection { 
    padding-top: 5rem;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px
}
.mintSection p {
    max-width: 250px;
    font-family: var(--MainFont);
    color: rgba(67, 67, 67, 1);
    font-size: var(--navSize);

}
.mint { 
width: 248px;
height: 69px;
cursor: pointer;
background: var(--MainColor);
border: 1px solid var(--MainColor);
box-sizing: border-box;
color: #fff;
transition: all ease-in-out 0.5s;

}
.mint:hover { 
    background-color: #ffff;
    color: #222222;

}

/* MINT SECTION */



/* CONTACT SECTION */

.contactSection { 
    height: 100vh;
}
.contactDiv { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.email { 
    height: 25px;
    border: 3px solid #F9F9F9;
    border-radius: 5px;
    max-width: 100%;

}
input[type = email]:focus { 
    outline: 2px solid var(--MainColor);
}
input[type = submit] { 
    margin-top: 25px;
    width: 444px;
    height: 69px;
    background-color: var(--MainColor);
    color: #fff;
    font-family: var(--MainFont);
    font-size: 18px;
    cursor: pointer;
    transition:  background-color ease 0.5s;
    width: 100%;
}
input[type = submit]:hover { 
    background-color: #393939;

}

textarea{ 
    border: 3px solid #F9F9F9;
    border-radius: 5px;
    max-width: 100%;

}



/* CONTACT SECTION */

/* MOBILE RESPONSIVENSS */

@media screen and (max-width: 1024px) {
    .project_Card { 
        height: 85%;
    }
    
}

@media screen and (max-width: 524px) { 

    .mintSection { 
        padding-top: 0;
    }
  
    .mintSection p { 
        text-align: center;
        font-size: 14px;
    }

    /* .divide, .card, .main_Card, .contactDiv, .mintSection { 
        margin-left: 5rem;
    } */

    /* .divide { 
        margin-left: 5rem;
    } */
    .main_Card { 
        width: fit-content;
        flex-direction: column;
    }
    .empty { 
        display: none;
    }
    .project_subCard {
        margin: 5rem 0;
    }
    .project_Card { 
        width: 120%;
    }
  
}

/* MOBILE RESPONSIVENSS */